.room-card {
    display: flex;
    max-width: 100%;
    height: 4rem;
    padding: 0 0 0 1.6rem;
    align-items: center;
    cursor: pointer;
    margin: 0.2rem 0rem;
    position: relative;
    border: 1px solid #ded4d4;
    border-radius: 10px;

    .room-thumbnail-box {
        flex: 0 0 auto;
        max-width: 100%;
        position: relative;
        height: 40px;
        width: 40px;

        .avatar-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 42px;
            background-color: white;
            font-size: 16px;
            color: white;
            display: flex;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-image: linear-gradient(0deg, #4481eb 0, #04befe);
        }
    }

    .room-card-details {
        margin: 0 0 0 1rem;
        padding: 1.2rem 0;

        .room-name {
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
}

.sidebar{
    width: 100%;
    height: 97vh;
    .profile{
        position: sticky;
        top: 0;
        z-index: 1;
       height: 50px; 
       background-color:rgb(240,242,245);
       border: 2px black;
       .Avatar{
         display: flex;
         align-items: center;
         text-align: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 1rem;
       }


      
    }
    .room{
        height: 93%;
        overflow-y: scroll;
        scrollbar-color: red;
      
    }
}